###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

##> phpspec ###
/phpspec.yml
###< phpspec ###

##> phpstan ###
/phpstan.neon
###< phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.spec
/.php_cs.cache
/.php_cs.spec.cache
###< friendsofphp/php-cs-fixer ###
